body {
	font-family: var(--body-font);
	font-weight: 400;
	line-height: 1.8;
	font-size: 16px;
	color: var(--text-color);
	background: var(--bg-color);
	margin: 0;
}
* {
	box-sizing: border-box;
	margin: 0;
}
