{% extends 'blog/layout.html' %}
{% block content %}
<section class="last-blogs">
  <div class="last-blogs__wrapper section__wrapper">
    <h2 class="featured-blog-card__title">Últimos artículos</h2>
    <ul class="last-blogs__list">
      {% for articulo in articulos %}
      <li class="last-blogs__item">
        <article>
          <a href="./blog.html" class="most-read-blog__img-cont">
            <img
              class="most-read-blog__img"
              src="{{articulo.imagen.url}}"
              alt="most read blog img"
              width="180"
              height="100"
            />
          </a>
          <div class="most-read-blog__content">
            <a href="/contenido/{{articulo.id}}">
              <h3 class="most-read-blog__title">
                {{articulo.titulo}}
              </h3>
            </a>

            <ul class="blog-card-stats is-vertical gap-0">
              <li class="blog-card-stats__item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  width="1.25em"
                  height="1.25em"
                  class="s-mr-1 s-mr-05 fill"
                  fill="CurrentColor"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16 27C22.0751 27 27 22.0751 27 16C27 9.92487 22.0751 5 16 5C9.92487 5 5 9.92487 5 16C5 22.0751 9.92487 27 16 27ZM16 30C23.732 30 30 23.732 30 16C30 8.26801 23.732 2 16 2C8.26801 2 2 8.26801 2 16C2 23.732 8.26801 30 16 30Z"
                  ></path>
                  <path
                    d="M15.5 9C16.3284 9 17 9.67157 17 10.5V17.5C17 18.3284 16.3284 19 15.5 19C14.6716 19 14 18.3284 14 17.5V10.5C14 9.67157 14.6716 9 15.5 9Z"
                  ></path>
                  <path
                    d="M14 17.5C14 16.6716 14.6716 16 15.5 16H20.5C21.3284 16 22 16.6716 22 17.5C22 18.3284 21.3284 19 20.5 19H15.5C14.6716 19 14 18.3284 14 17.5Z"
                  ></path>
                </svg>
                <p>Lectura de {{articulo.duracion}}min</p>
              </li>
              <li class="blog-card-stats__item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  width="1.25em"
                  height="1.25em"
                  class="s-mr-1 s-mr-05 fill"
                  fill="CurrentColor"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M27 8H5L5 27H27V8ZM5 5C3.34315 5 2 6.34315 2 8V27C2 28.6569 3.34315 30 5 30H27C28.6569 30 30 28.6569 30 27V8C30 6.34315 28.6569 5 27 5H5Z"
                  ></path>
                  <path
                    d="M8.5 2C9.32843 2 10 2.67157 10 3.5L10 9.5C10 10.3284 9.32843 11 8.5 11C7.67157 11 7 10.3284 7 9.5L7 3.5C7 2.67157 7.67157 2 8.5 2Z"
                  ></path>
                  <path
                    d="M30 14.5C30 15.3284 29.3284 16 28.5 16L3.5 16C2.67157 16 2 15.3284 2 14.5C2 13.6716 2.67157 13 3.5 13L28.5 13C29.3284 13 30 13.6716 30 14.5Z"
                  ></path>
                  <path
                    d="M23.5 2C24.3284 2 25 2.67157 25 3.5V9.5C25 10.3284 24.3284 11 23.5 11C22.6716 11 22 10.3284 22 9.5V3.5C22 2.67157 22.6716 2 23.5 2Z"
                  ></path>
                </svg>
                <p>{{articulo.fecha_registro}}</p>
              </li>
            </ul>
            <div class="blog-author">
              <img
                src="https://edteam-media.s3.amazonaws.com/blogs/original/316f4593-d55e-4f67-a15c-f9d91c233ad7.jpg"
                alt="author profile photo"
                class="blog-author__img"
                width="24"
                height="24"
              />
              <p class="blog-author__name">{{articulo.autor.first_name}} {{articulo.autor.last_name}}</p>
            </div>
          </div>
        </article>
      </li>
      {% endfor %}

    </ul>
  </div>
</section>

{% endblock %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Ed blog</title>
  </head>
  <body>
    <h1>Blog de Edteam!</h1>
    <div class="container">
        <div class="row">
            {% for articulo in articulos %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{{articulo.imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{articulo.titulo}}</p>
                        <p class="card-text">{{articulo.autor}}</p>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
      </div>
    
        
    

    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  
  </body>
</html>